.photo-container {
  width: 25rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accueil-container {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.img-container {
  width: 5rem;
  height: auto;
}

@media screen and (max-width: 999px) {
  .accueil-container {
    display: flex;
    flex-direction: column;
  }
}

.title-h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;

  font-size: 3rem;
  line-height: 0.75;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h2-accueil {
  margin-left: 2rem;
}

.paragraphe-container {
  font-size: 1.3rem;
  text-align: justify;
}
