.photo-container {
  width: 35rem;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.accueil-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.img-container {
  width: 5rem;
  height: auto;
}

@media screen and (max-width: 999px) {
  .accueil-container {
    display: flex;
    flex-direction: column;
  }
}
