.img-logo {
  width: 20vh;
  height: auto;
}

.comp-container {
  display: flex;

  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 999px) {
  .comp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
