.img-logo {
  width: 20vh;
  height: auto;
}

.comp-container {
  display: flex;

  gap: 1rem;
  justify-content: center;
}

@media screen and (max-width: 999px) {
  .comp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.title-h2 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 4rem;
  line-height: 0.75;
}
