nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 20px;

  margin-bottom: 3rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}

.titre-h1 {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: #7e101000;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 0.75;
}
