.projet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}
.projet-container h2 {
  font-family: "melinda_evania";
  font-size: 2em;
  color: white;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  transition: color 0.3s, text-shadow 0.3s;
}

.projet-container:hover h2 {
  color: #517664;
  text-shadow: 2px 2px 0 white, 2px -2px 0 white, -2px 2px 0 white,
    -2px -2px 0 white, 2px 0px 0 white, 0px 2px 0 white, -2px 0px 0 white,
    0px -2px 0 white;
}

.img-container {
  width: auto;
  height: 40vh;
  z-index: 0;
  border-radius: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.projet-container:hover .categorie-img {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px 0px #000000, inset 8px 8px 20px 0px #000000,
    10px 10px 20px 10px rgba(0, 0, 0, 0.2);
}

select {
  appearance: none;
  outline: 0;
  border: 1px solid white !important;
  background: #242424;
  background-image: none;
  box-shadow: none;
  font-size: 1.2em;
}

select {
  position: relative;
  width: 350px;
  height: 45px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

select {
  width: 30%;
  height: 2rem;
  margin: 0;
  padding-left: 15px;
  color: white;
  cursor: pointer;
}

.lottie-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 20rem;
}
